<div id="footer">
    <div class="logo">LOGO </div>
    <!-- /footer-logo -->
    <ul class="navbar-nav list-inline">
        <li class="first">
            <a href="">MENU1</a>
        </li>
        <li>

            <a href="">MENU2</a>
        </li>
        <li>
            <a href="">MENU3</a>
        </li>
        <li>
            <a href="">MENU4</a>
        </li>
        <li>
            <a href="">MENU5</a>

        </li>


   
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><a href="http://news.railstutorial.jp/">News</a></li>
   
    </ul>
    <!-- /nav -->
    <div class="clearfix"></div>
    <ul class="sns-icon list-inline">
        <li>
            <i class="fa fa-twitter fa-2x"></i>
        </li>
        <li>
            <i class="fa fa-facebook fa-2x"></i>
        </li>
    </ul>
    <!-- /sns-icon -->
    <div class="copy">
        <span>Copyright &#169; 2013 example.com All Rights Reserved.</span>
    </div>
    <!-- /copy -->
</div>
<!-- /footer -->